<ion-header no-border>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="atras()">
        <ion-icon slot="icon-only" name="chevron-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" slot="">
      Generar Venta
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-grid style="flex: 0 0 0 !important">
  <ion-row>
    <ion-col size="4">
      <ion-card class="card-v ion-activatable" (click)="this.agregarProducto(this.barba)">
        <img class="img-card" src="../../assets/img/barba.png">
        <ion-text class="text">Barba</ion-text>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>

    </ion-col>
    <ion-col size="4">
      <ion-card class="card-v ion-activatable" (click)="this.agregarProducto(this.corte)">
        <img class="img-card" src="../../assets/img/corte.png">
        <ion-text class="text">Corte</ion-text>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="card-v ion-activatable" (click)="this.abrirModal()" >
        <img class="img-card" src="../../assets/img/productos.png">
        <ion-text class="text">Producto</ion-text>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <div class="" *ngFor="let item of this.listProductos let i = index">
            <ion-item lines="full">
              <ion-label slot="start">
                <ion-text color="primary">
                  {{item.descripcion }}
                </ion-text>
              </ion-label>
              <ion-label class="ion-text-center" >
                <ion-text color="secondary"  class="font-bold">
                  {{item.costo | currency}}
                </ion-text>
              </ion-label>
              <ion-button (click)="eliminarProducto(item,i)" slot="end" fill="clear"> <ion-icon slot="icon-only" name="trash-outline"></ion-icon> </ion-button>
            </ion-item>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>

<ion-card class="ion-activatable"  style="margin: 0px !important; " (click)="this.finalizarVenta()">
  <ion-item lines="none">
    <ion-label slot="start">
      <ion-text color="secondary">
        Finalizar Venta
      </ion-text>
    </ion-label>
    <ion-label slot="end">
      <ion-text color="primary">
       {{this.total | currency}}
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-ripple-effect></ion-ripple-effect>
</ion-card>