<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tabVentas">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Ventas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabCierres">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Cierres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabConfg">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
